[Desktop Entry]
Type=Application
Name=Linxira Package Center
Name[zh_CN]=Linxira 软件中心
Comment=Install reviewed Linxira applications
Comment[zh_CN]=安装经过审核的 Linxira 应用
Exec=/usr/bin/linxira-package-center
Icon=system-software-install
Terminal=false
Categories=System;Settings;
